@import url(./base.css);

.single_member {
    border: 1px solid var(--grey-soft);
    border-radius: 4px;
}

.single_member_social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 13, 107,0.6);
    transform: translateX(-50%);
    border-radius: 4px;
    transition: 0.3s ease;
    opacity: 0;

}

.single_member_social a i {
    width: 28px;
    height: 28px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-pure);
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 600;
}

.single_member_social a {
    text-decoration: none;
    cursor: pointer;
}

.single_member_img {
    position: relative;
    cursor: pointer;
}

.single_member_img img {
    border-radius: 4px;
}

.single_member_img:hover .single_member_social {
    top: 0;
    opacity: 1;
}