@import url(./base.css);

.payment label {
    font-weight: 600;
    color: var(--primary);
}

.payment button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background: var(--primary);
    color: var(--white-pure);
    border: none;
    outline: none;
    transition: 0.3s;
}

.payment button:hover {
    background: var(--secondary);
}
