@import url(./base.css);


.service_item span i {
    font-size: 2.5rem;
    color: var(--secondary);
}

.service_item h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary);
}

.service_item:last-child {
    margin-bottom: 0 !important;
}

@media only screen and (max-width:768px){
    .service_item h6 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:576px) {
    .service_section_wrapper {
        margin-top: 4rem !important;
        padding: 0 1rem;
    }
}